<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>LogIn</title>
</head>
<body>
<div class="form">
    <h2>Введите данные полета</h2>
    <div class="error-text" style="padding: 8px 0; border-radius: 5px; color: #fa0505; text-align: center;">
        <p id="textError" style="display: none;">Неправильный логин или пароль</p>
    </div>
    <form  action="#" th:action="@{/api/view/getFlights}" th:object="${info}" method="post">
        <div class="input-form">
            <input id="departure_city" name="departure_city" placeholder="Откуда" required="required"
                   th:field="${info.departure_city}" type="text" value="">

            <input type="text" required="required" th:field="${info.arrival_city}" value=""
                    id="arrival_city" placeholder="Куда">

            <p><select  id="fare_conditions" th:field="${info.fare_conditions}" value="" >
                <option selected value="Economy">Эконом</option>
                <option value="Business">Бизнес</option>
            </select>

            <fieldset>
                <legend>Количество пассажиров</legend>
                <input type="number" required="required" th:field="${info.amount}" value=""
                       id="amount" min="1">
            </fieldset>
            <div class="input-form">
                <input type="submit" value="Найти" display="block"/>
            </div>

        </div>
    </form>

    <br>
    <table>
        <tr>
            <th>totalPrice</th>
            <th>allSeat_number</th>
        </tr>
        <tr th:each="view, iterStat: ${personTicketView}">
            <td style="text-align:center;" th:text="${view.getTotalPrice()}"></td>
            <td style="text-align:center;" th:text="${view.getAllSeat_number()}"></td>
            <td>
                <a th:href="@{/api/view/test/{id}(id=${iterStat.count})}">Выбрать</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>